include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dataexplorer *.html *.json *.js *.less *.css *.mo *.po *.pot *.yml *.yaml *.ico *.svg *.gif *.eot *.ttf *.woff *.png *.config *.cfg *.map